.container {
    margin-top: 20px;
}

.name {
    font-size: 38px;
    margin: 0;
    font-weight: 700;
}

.image {
    margin: 20px 0 40px;
    width: 300px;
}

.link {
    font-size: 24px;
    font-weight: 700;
    color: #d5d5d5;
}